.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .board-row {
    display: flex;
  }
  
  .square {
    width: 100px; /* Aumenta o tamanho dos quadrados */
    height: 100px; /* Aumenta o tamanho dos quadrados */
    background: #fff;
    border: 2px solid #ddd; /* Ajusta a borda para ficar mais visível */
    font-size: 36px; /* Aumenta o tamanho do texto */
    font-weight: bold;
    text-align: center;
    line-height: 100px; /* Alinha o texto verticalmente */
    cursor: pointer;
    user-select: none;
  }
  
  .status {
    margin-bottom: 20px;
    font-size: 24px; /* Aumenta o tamanho do texto do status */
  }
  
  .button {
    margin: 20px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: #007bff; /* Estilo do botão */
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #0056b3; /* Cor do botão quando o mouse está sobre ele */
  }
  